.content-wrapper {
  font-family: "Roboto", sans-serif !important;
  margin-top: 55px;
}

#btn-whatsapp {
}

.btn-outline-success {
  cursor: pointer !important;
}

#edit{
 float: left;
}
#wsp{
    float: right;
}

.text-muted {
 color: #0c0c0c !important;
}

.iconos-formulario a {
  margin-right: 10px;
}

.nav-pills {
  font-size: 15px !important;
}

#cardsTramites {
  display: none;
}

@media screen and (max-width: 725px) {

  #cardsTramites {
    display: block;
  }

  #tableTramites {
    display: none;
  }
}
