<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <section class="content">
    <div class="row">

      <div class="col-12">

        <!--DataTable -->
        <div class="row p-2" data-aos="zoom-in">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de tramites generados</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">N°</th>
                    <th scope="col" class="text-center">Generado</th>
                    <th scope="col" class="text-center">Usuario</th>
                    <!--<th scope="col" class="text-center">Solicitante</th>-->
                    <th scope="col" class="text-center">Producto</th>
                    <!--<th scope="col" class="text-center">Descripción</th>-->
                    <th scope="col" class="text-center">Estado/Area</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Estado Pago</th>
                    <th scope="col" class="text-center">Notificar</th>
                    <th scope="col" class="text-center">Formulario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let minH of tramites; index as i">
                    <td class="text-center" scope="row">{{i+1}}</td>
                    <td class="text-center">{{minH.createdAt | date: "dd/MM/yyyy"}}</td>
                    <td scope="text-center">{{minH.usuario.apellido}} {{minH.usuario.nombre}}</td>
                    <!--<td class="text-center">{{minH.apellido}} {{minH.nombre}}</td>-->
                    <td class="text-center">{{minH.producto.formulario}}</td>
                    <!--<td class="text-center">{{minH.tipoTram}}</td>
                    <td class="text-center">{{minH.area}}</td>-->
                    <td class="text-center">
                      <span *ngIf="minH.estadoTram == 'Iniciado'" class="badge bg-primary ml-1"
                        id="estado">{{minH.estadoTram}}</span>
                      <span *ngIf="minH.estadoTram == 'En proceso'" class="badge bg-warning ml-1"
                        id="estado">{{minH.estadoTram}}</span>
                      <span *ngIf="minH.estadoTram == 'Finalizado'" class="badge bg-success ml-1"
                        id="estado">{{minH.estadoTram}}</span>&nbsp;
                      <p>{{minH.area.nombre}}</p>
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-outline-primary" (click)="cargarModal(minH)" data-toggle="modal"
                          data-target="#exampleModal">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td>
                      <span *ngIf="minH.comprobantePago.estado == 'Aprobado'" class="badge bg-success ml-1"
                        id="estado">{{estadoPago}}</span>
                      <span *ngIf="minH.comprobantePago.estado == 'Pendiente'" class="badge bg-warning ml-1"
                        id="estado">{{estadoPago}}</span>
                      <span *ngIf="minH.comprobantePago.estado == 'Rechazado'" class="badge bg-danger ml-1"
                        id="estado">{{estadoPago}}</span>
                      <span *ngIf="minH.comprobantePago.estado == 'Cancelado'" class="badge bg-default ml-1"
                        id="estado">{{estadoPago}}</span>  
                    </td>
                    <td class="text-center">
                      <a class="btn btn-outline-success" *ngIf="minH.estadoTram == 'Finalizado'"
                      href="https://api.whatsapp.com/send?phone=54{{minH.usuario.telefono}}&text=Hola%20{{minH.usuario.nombre}},%20Te%20informamos%20que%20ya%20puedes%20pasar%20por%20la%20institución%20a%20retirar%20tu%20tramite:%20{{minH.producto.formulario}}."><i
                      class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>&nbsp;
                      <p>{{minH.usuario.telefono}}</p>
                    </td>
                    <td *ngIf="minH.producto.formulario == 'Minuta G' else imprimeMinH"  class="text-center">
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                         (click)="imprimirFormularioMinG(minH.tipoTram,
                                                         minH.objetoPedido,
                                                         minH.ubicacionInmueble,
                                                         minH.apellido,
                                                         minH.nombre,
                                                         minH.numDoc,
                                                         minH.estCivil,
                                                         minH.domicilio,
                                                         minH.usuario.apellido,
                                                         minH.usuario.nombre,
                                                         minH.usuario.telefono)" class="btn btn-outline-info"><i
                          class="fa fa-print"></i></a>&nbsp;
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                         (click)="descargarFormularioMinG(minH.tipoTram,
                                                         minH.objetoPedido,
                                                         minH.ubicacionInmueble,
                                                         minH.apellido,
                                                         minH.nombre,
                                                         minH.numDoc,
                                                         minH.estCivil,
                                                         minH.domicilio,
                                                         minH.usuario.apellido,
                                                         minH.usuario.nombre,
                                                         minH.usuario.telefono)" class="btn btn-outline-danger"><i
                          class="fa fa-download" aria-hidden="true"></i></a>
                    </td>

                    <ng-template #imprimeMinH>
                      <td class="text-center">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                           (click)="imprimirFormularioMinH(minH.tipoTram,
                                                         minH.apellido,
                                                         minH.nombre,
                                                         minH.nacionalidad,
                                                         minH.estCivil,
                                                         minH.nomConyu,
                                                         minH.apeConyu,
                                                         minH.tipoDoc,
                                                         minH.numDoc,
                                                         minH.fechNac,
                                                         minH.usuario.apellido,
                                                         minH.usuario.nombre,
                                                         minH.usuario.telefono)" class="btn btn-outline-info"><i
                          class="fa fa-print"></i></a>&nbsp;
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                           (click)="descargarFormularioMinH(minH.tipoTram,
                                                         minH.apellido,
                                                         minH.nombre,
                                                         minH.nacionalidad,
                                                         minH.estCivil,
                                                         minH.nomConyu,
                                                         minH.apeConyu,
                                                         minH.tipoDoc,
                                                         minH.numDoc,
                                                         minH.fechNac,
                                                         minH.usuario.apellido,
                                                         minH.usuario.nombre,
                                                         minH.usuario.telefono)" class="btn btn-outline-danger"><i
                          class="fa fa-download" aria-hidden="true"></i></a>
                      </td>
                    </ng-template>




                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
<app-edit-tramites></app-edit-tramites>
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true[5, 10, 20, 50, 100, 200, 500],
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true
    })
  });
</script>
