<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
          <h1 class="card-header text-uppercase">Sistema de Gestión de Trámite Inmueble</h1>
          <h3 class="card-title p-3">
            Este sistema ha sido diseñado y programado para que constituya un medio virtual para el acceso de los usuarios a las prestaciones ofrecidas por la Secretaría de Tierras y Hábitat Social.
          </h3>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
    <!-- /.col-lg-12- -->

    <!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="m-4 text-center">Búsqueda de titulares dominiales</h3>
          </div>
          <div class="m-2 card-body">
            <h4 class="m-2 card-title">
              <i class="fa fa-file-text-o" aria-hidden="true"></i> Formulario "Minuta H"

            </h4>
            <div class="card-text">
              <ul>
                Completar formulario (minuta) con los datos de la persona a la cual desea solicitar si presenta inmuebles a su nombre:
                <ul>
                  <li>Datos de identidad de la persona: Apellidos, Nombres, Nacionalidad, Estado Civil, Tipo y N° de Documento, Fecha de Nacimiento</li>
                </ul>
              </ul>
              <ul>
                Confirmar los datos ingresados, verificando que tanto el tipo de trámite como los datos de la persona sean correctos.
              </ul>
              <ul>Realizar el pago del formulario para comenzar a gestionar el mismo.</ul>
              <ul>
                Una vez confirmado el pago, se notificará al usuario cuando la minuta ya se encuentre en estado de retiro, podrá hacerlo de Lun. a Vie. en el horario de 8:00 a 13:00 hs.
              </ul>
            </div>
          </div>
          <div class="card-footer footer-comprar">
            <button type="button" class="btn btn-primary" (click)="enviarFormulario('Minuta H')">Comprar formulario</button>
          </div>
        </div>
      </div>

    <div class="col-md-6">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="my-4 text-center">Búsqueda de estado jurídico de inmueble</h3>
        </div>
        <div class="m-2 card-body">
          <h4 class="m-2 card-title">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Formulario "Minuta G"
          </h4>

          <div class="card-text">
            <ul>
              Completar formulario (minuta) con los datos de la persona a la cual desea solicitar si presenta inmuebles a su nombre:
              <ul>
                <li>Datos de identidad de la persona: Apellidos, Nombres, Nacionalidad, Estado Civil, Tipo y N° de Documento, Fecha de Nacimiento</li>
              </ul>
            </ul>
            <ul>
              Confirmar los datos ingresados, verificando que tanto el tipo de trámite como los datos de la persona sean correctos.
            </ul>
            <ul>Realizar el pago del formulario para comenzar a gestionar el mismo.</ul>
            <ul>
              Una vez confirmado el pago, se notificará al usuario cuando la minuta ya se encuentre en estado de retiro, podrá hacerlo de Lun. a Vie. en el horario de 8:00 a 13:00 hs.
            </ul>
          </div>

        </div>
        <div class="card-footer footer-comprar">
          <button type="button" class="btn btn-primary" (click)="enviarFormulario('Minuta G')">Comprar formulario</button>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->

    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
          <h4 class="card-title">TÉRMINOS Y CONDICIONES DE CONTRATACIÓN DE SGTI ®   </h4>

          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

        </div>
      </div><!-- /.card -->
    </div>

  </div>


</div>
