<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
	  <div class="container-fluid">
	    <div class="row mb-2">
	      <div class="col-sm-6">
	      </div>
	      <!-- Breadcrumb -->
	      <div class="col-sm-6">
	        <ol class="breadcrumb float-sm-right">
	          <li class="breadcrumb-item"><a href="#">Perfil de Usuario</a></li>
	          <li class="breadcrumb-item active">Ver perfil</li>
	        </ol>
	      </div>
	    </div>
	  </div><!-- /.container-fluid -->
	</section>
	<section class="content">
	      <div class="row">
	      	<div class="col-md-5">
	            <div class="card card-primary card-outline">
	              <div class="card-body box-profile">
	                <div class="text-center">
	                  <img class="profile-user-img img-fluid img-circle" src="assets/dist/img/avatar.png" alt="User profile picture">
	                </div>
					<h3 class="card-title text-center">Imagen de usuario</h3> 
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	      	</div>
	      	<div class="col-md-7">
	            <!-- About Me Box -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h3 class="card-title text-center"> Mis datos</h3>      
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body">
	                <strong><i class="fa fa-address-card" aria-hidden="true"></i> Apellido</strong>

	                <p class="text-muted">
	                  Arroyo
	                </p>

	                <hr>
	                <strong><i class="fa fa-address-card-o" aria-hidden="true"></i> Nombre</strong>

	                <p class="text-muted">
	                  Walter
	                </p>

	                <hr>


	                <strong><i class="fa fa-phone-square" aria-hidden="true"></i> Teléfono</strong>

	                <p class="text-muted">3804 443867</p>

	                <hr>

	                <strong><i class="fa fa-envelope-o" aria-hidden="true"></i> Correo electrónico</strong>

	                <p class="text-muted">hualterio@gmail.com</p>

	                <hr>

	              </div>
	              <!-- /.card-body -->
	              <div class="card-footer">
  		                <button type="button" class="btn btn-block btn-success">
	                	<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
	                </button>
	              </div>
	        </div>
	    </div>
		</div> 
	</section>
</div>