.wrapper {
  margin-left: 0px !important;
  min-height: 750px;
  background-color: rgb(45, 140, 255);
}

.navbar-static-top{
  margin-left: 0px !important;
}

.main-header {
  background-color: whitesmoke;
  margin-left: 0;
  padding: 0;
}

.nav-item {
  text-align: center;
}

.title-sgti  {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 3em;
  font-weight: 400;
}

.title-sgti:hover {
  cursor: pointer;
  color: #0c0c0c;
}
.btn-lg {
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}
.inicio-sesion-btn {
  color: whitesmoke;
  background-color: rgb(45, 140, 255);
  border: 2px solid rgb(45, 140, 255);
}

.inicio-sesion-btn:hover {
  background: whitesmoke;
  color: rgb(45, 140, 255);
}

#box-signup{
    border: 0px solid rgb(45, 140, 255);
    border-radius: 15px;
}

#img-logo {
    height: 85px
}

.login-box {
  margin-top: 40px;
}

.login-box-body{
    font-family: "Roboto", sans-serif;
    padding-bottom: 5px;
    border-radius: 25px;
}

.input-group {
  margin-bottom: 15px;
}

.titulo-box {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.alert-danger {
  background-color: white !important;
}

.container-error-message {
  background-color: white !important;
  color: darkred;
  font-size: small;
  margin: 5px 5px;
}


