#navbar{
    margin: auto;
}
#col{
    margin-top: 10px;
}

#box-signup{
    border: 0px solid #00c0ef;
    border-radius: 15px;
}

#img-logo {
    height: 85px
}

.login-box{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}