<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>

  <section class="content">
    <div class="row">

      <div class="col-12">

        <div class="col-md-12 p-4">
          <div class="card card-warning card-outline">
            <div class="card-header">
              <h3 class="card-title"><i class="fa fa-wpforms" aria-hidden="true"></i> Mis tramites</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-rigth" placeholder="Buscar">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" class="text-center">Generado</th>
                    <th scope="col" class="text-center">Persona</th>
                    <th scope="col" class="text-center">Producto</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Comprobante</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let minH of tramites; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td class="text-center">{{minH.createdAt | date: "dd/MM/yyyy"}}</td>
                    <td class="text-center">{{minH.apellido}} {{minH.nombre}}</td>
                    <td class="text-center">{{minH.producto}}</td>
                    <td class="text-center">{{minH.tipoTram}}</td>
                    <td><span class="badge bg-primary">{{minH.estadoTram}}</span></td>
                    <td>
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                        target="_blank" (click)="imprimirPdf()" class="btn btn-outline-primary"><i
                          class="fa fa-print"></i></a>
                      &nbsp;
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                        target="_blank" (click)="descargarPdf()" class="btn btn-outline-success"><i
                          class="fa fa-download" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>



</div>
