.footer-comprar {
  /*align-self: flex-end !important;*/
  text-align: center;
}
.content-wrapper{
  font-family: "Roboto", sans-serif !important;
  }


.region-info {
  margin-left: 10px;
  margin-right: 10px;
}
