.footer-comprar {
  /*align-self: flex-end !important;*/
  text-align: center;
}
.content-wrapper{
  font-family: "Roboto", sans-serif !important;
}

.row #region-info{
  padding-left: 2px;
  padding-right: 2px;
}
