.container{
    padding-top: 100px;
}

#box-shadow{
    -webkit-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
}