<div class="wrapper">

	 <!-- Navbar -->
	<nav class="main-header navbar layout-navbar-fixed navbar-expand navbar-static-top">
	    <div class="container">
	      <a href="/"routerLink="/" class="brand-link navbar-brand">
	        <img src="assets/AdminLTE-3.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
	        <span class="brand-text text-light">{{title}}</span>
	      </a>
	      <!-- Right navbar links -->
	      <div class="navbar-collapse order-3 collapse show" id="navbarCollapse">
	      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
	        <li class="nav-item">
	          <a routerLink="/user/signin" routerLinkActive="router-link-active" href="#" class="nav-link text-light">Iniciar Sesión</a>
	        </li>
	        <li class="nav-item">
	          <a routerLink="/user/signup" routerLinkActive="router-link-active" href="#" class="nav-link text-light">Registrarse</a>
	        </li>
	      </ul>
	    </div>
	    </div>
	</nav>

	<!-- /.navbar -->
	
	<!--Home Body-->
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center text-white" id="Text-Home">
				<h1>¡Bienvenido a SGTI!</h1>
				<h4 class="pb-3">Sistema de Gestion de Tramite de Inmueble</h4>
				<a href="/user/signin" class="btn btn-info btn-lg">Comenzar</a>
			</div>
			<div class="col-md-6">
				<img src="./assets/dist/img/technical-animations.png" id="img-business">
			</div>
		</div>
	</div>
	<app-footer></app-footer>

</div>
