

.content-wrapper{
    background: #141E30;
}

.animate {
    top: 50%;
    transform: translate(-15%, 20%);
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.container span{
    text-transform: initial;
    display: block;
}

.text1{
    color: #e0eafc;
    font-size: 80px;
    font-weight: 100;
    letter-spacing: 5px;
    margin-block: 10px;
    background: #141E30;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 25px;
    color: #e0eafc;
}

@keyframes text{
    0%{
        background: #141E30;
        margin-bottom: -55px;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -65px;
    }
    85%{
        letter-spacing: 5px;
        margin-bottom: -75px;
    }
}