<div class="wrapper">
<app-navbar></app-navbar>

<section class="content-wrapper">
		<div class="container">
			<div class="row">
		      	<div class="col-md-12 animate">
		      		<div class="col-md-6">
		      			
					        <span class="text1">¡Bienvenidos a SGTI!</span>
					        <span class="text2">Sistema de Gestion de Tramite de Inmueble</span>
				    	
		      		</div>		      			
		        	<div class="col-md-6">
		        		<a href="/user/signup" class="btn btn-info btn-lg">Comenzar</a>		
		        	</div>
		      	</div>
			</div>
		</div>
</section>
  	
</div>
