<!-- Register -->
<div class="row text-center">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Crear cuenta</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSaveForm(registerForm)">
                <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="apellido" class="col-sm-3 control-label">Apellido/:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="apellido"
                                    formControlName = "apellido" placeholder="Ingrese Apellido">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="col-sm-3 control-label">Nombre/s:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="nombre" 
                                    formControlName = "nombre" placeholder="Ingrese Nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="telefono" class="col-sm-3 control-label">Telefono:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="telefono"
                                        formControlName = "telefono" placeholder="Ingrese Telefono">
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="inputEmail3"
                                    formControlName = "email" placeholder="Ingrese su email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Contraseña:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="inputPassword3"
                                    formControlName = "password" placeholder="Ingrese su contraseña">
                                </div>
                            </div>
                        </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-7" id="btnRegis">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registerForm.valid">Registrarse</button>
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
</div>