<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
    <section class="content" id="stepwizard-Section">
      <div class="row" data-aos="zoom-in">
        <div class="col-md-12">
          <div id="stepwizard">
            <ul>
              <li id="li1"><a href="#step1" class="nav-link"><span><i class="fa fa-list-alt"></i></span><br><small>1 -
                    Elegí el trámite.</small></a></li>
              <li id="li2"><a href="#step2" class="nav-link"><span><i class="fa fa-user-circle-o"
                      aria-hidden="true"></i></span><br><small>2 - Completa el formulario.</small></a></li>
              <li id="li3"><a href="#step3" class="nav-link"><span><i
                      class="fa fa-check-square-o"></i></span><br><small>3 - Confirmá los datos ingresados</small></a>
              </li>
              <li id="li4"><a href="#step4" class="nav-link"><span><i class="fa fa-money"></i></span><br><small>4 -
                    Realizá el pago</small></a></li>
            </ul>

            <!-- DIV -->
            <div data-aos="zoom-in">
              <!-- DIV Elegir el trámite -->
              <div id="step1">
                <section class="tab-content">
                  <hr>
                  <!-- titulo row -->
                  <div class="col-xs-12 text-center">
                    <h2 class="page-header">
                      Trámites
                    </h2>
                  </div>
                  <!-- /.col -->
                  <div class="row" data-aos="flip-up">

                    <div class="col-md-6 text-center">
                      <label>
                        <input type="radio" name="tramite" class="card-input-element" id="card-h" />

                        <div class="card card-input text-center hvr-grow"
                          (click)="guardar_tipotramite('Búsqueda de titulares dominiales', '5f4abf33aeae370004723e34'); getDataTipoTram('5f4abf33aeae370004723e34')">

                          <div class="caja">
                            <h4 class="card-header">Búsqueda de titulares dominiales</h4>
                            <p class="lead">Búsqueda de inmuebles registrados a nombre de una persona humana ó persona
                              jurídica, según el Índice de Titulares de Dominio.</p>
                          </div>

                        </div>
                      </label>
                    </div>

                  <div class="col-md-6 text-center">
                      <label>
                        <input type="radio" name="tramite" class="card-input-element" id="card-g" />

                        <div class="card card-input text-center hvr-grow"
                          (click)="guardar_tipotramite('Búsqueda de estado jurídico de inmueble', '5f4abf44aeae370004723e35'); getDataTipoTram('5f4abf44aeae370004723e35')">

                          <div class="caja">
                            <h4 class="card-header">Búsqueda de estado jurídico de inmueble</h4>
                            <p class="lead">Verificar el estado actual de la propiedad respecto a cargas y gravámenes
                              que pudieran figurar asentadas en el registro</p>
                          </div>

                        </div>

                      </label>
                    </div>

                  </div>
                  <hr>
                  <div class="row" data-aos="zoom-in">
                    <div class="col-12" style="text-align: right;">
                      <button id="btn-siguiente-1" class="btn btn-primary"
                        (click)="[irPaso(2), remove()]">Siguiente</button>
                    </div>
                  </div>

                </section>
              </div>
              <!-- DIV Completa formulario -->
              <div id="step2">

                <!-- Formulario H -->
                <section id="formH" data-aos="flip-up">
                  <!-- titulo row -->
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <h3>
                        <i class="fa fa-address-card" aria-hidden="true"></i> Datos de identidad
                        de la persona
                      </h3>
                    </div>
                    <!-- /.col -->

                  </div>
                  <form ngNativeValidate>
                    <div class="form-row text-center">
                      <div class="form-group col-md-4">
                        <label for="inputApellido"><strong>Apellido/s:</strong></label>
                        <input type="text" class="form-control" id="inputApellido" placeholder=""
                          (focusout)="guardar_apellido(apel.value);" #apel>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputNombres"><strong>Nombre completo:</strong></label>
                        <input type="text" class="form-control" id="inputNombres" placeholder="" value="{{this.nombre}}"
                          (focusout)="guardar_nombre(nomb.value);" #nomb>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputEstadoCivil"><strong>Estado Civil</strong></label>
                        <select id="inputEstadoCivil" class="form-control"
                          (focusout)="guardar_estadocivil(ecivi.value);" #ecivi>
                          <option selected value="">Seleccione..</option>
                          <option value="Soltero/a">Soltero/a</option>
                          <option value="Casado/a">Casado/a.</option>
                          <option value="Divorciado/a">Divorciado/a</option>
                          <option value="Viudo/a">Viudo/a</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row text-center">
                      <div class="form-group col-md-4">
                        <label for="inputTipoDoc"><strong>Tipo de documento:</strong></label>
                        <select id="inputTipoDoc" class="form-control" (focusout)="guardar_tdoc(tdoc.value);" #tdoc>
                          <option selected value="">Seleccione..</option>
                          <option value="Documento Nacional de Identidad (DNI)">Documento Nacional de Identidad (DNI)
                          </option>
                          <option value="Cédula de Identidad (CI)">Cédula de Identidad (CI)</option>
                          <option value="Libreta de Enrolamiento (LE)">Libreta de Enrolamiento (LE)</option>
                          <option value="Libreta Cívica (LC)">Libreta Cívica (LC)</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputNumeroDocumento"><strong>Número:</strong></label>
                        <input type="text" class="form-control" id="inputNumeroDocumento"
                          (focusout)="guardar_ndoc(ndoc.value);" #ndoc>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputNacionalidad"><strong>Nacionalidad</strong></label>
                        <input type="text" class="form-control" id="inputNacionalidad"
                          (focusout)="guardar_nacion(nacion.value);" #nacion>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputFecha"><strong>Fecha de nacimiento:</strong></label>
                        <input class="form-control" type="date" id="inputFecha"
                          (focusout)="guardar_fechanac(fnac.value);" #fnac>
                      </div>
                    </div>
                    <br>
                    <label class="text-center">Datos del cónyugue</label>
                    <div class="form-row text-center">
                      <div class="form-group col-md-6">
                        <label for="inputApellidoConyugue"><strong>Apellido/s</strong></label><input type="text" class="form-control"
                          id="inputApellidoConyugue" (focusout)="guardar_con_ape(conApe.value);" #conApe>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputNombresConyugue"><strong>Nombre completo</strong></label><input type="text" class="form-control"
                          id="inputNombresConyugue" (focusout)="guardar_con_nomb(conNomb.value);" #conNomb>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(1);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button id="btn-siguiente-2" class="btn btn-primary"
                        (click)="irPaso(3); validateFormMinH(apel.value, nomb.value, ecivi.value, tdoc.value, ndoc.value, nacion.value, fnac.value);">Siguiente</button>
                    </div>
                  </div>
                </section>


                <!-- Formulario G -->
                <section id="formG" data-aos="flip-up">
                  <!-- titulo row -->
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <h3>
                        <i class="fa fa-address-card" aria-hidden="true"></i> Datos de identidad de la persona
                      </h3>
                    </div>
                    <!-- /.col -->

                  </div>
                  <form ngNativeValidate>
                    <div class="form-row">

                      <div class="col-md-12 text-center">
                        <h5>
                          <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #3282b8;"></i> Identidad del
                          Titular del Dominio:
                        </h5>
                      </div>

                      <div class="col-md-4 text-center">
                        <label for="inputApellido"><strong>Apellido/s:</strong></label>
                        <input type="text" class="form-control" id="inputApellidoMinG" placeholder=""
                          (focusout)="guardar_apellido(apelG.value);" #apelG>
                      </div>
                      <div class="col-md-4 text-center">
                        <label for="inputNombres"><strong>Nombre completo:</strong></label>
                        <input type="text" class="form-control" id="inputNombresMinG" placeholder=""
                          (focusout)="guardar_nombre(nombG.value);" #nombG>
                      </div>
                      <div class="col-md-4 text-center">
                        <label for="inputEstadoCivilMinG"><strong>Estado Civil</strong></label>
                        <select id="inputEstadoCivilMinG" class="form-control"
                          (focusout)="guardar_estadocivil(eciviG.value);" #eciviG>
                          <option selected value="">Seleccione..</option>
                          <option value="Soltero/a">Soltero/a</option>
                          <option value="Casado/a">Casado/a.</option>
                          <option value="Divorciado/a">Divorciado/a</option>
                          <option value="Viudo/a">Viudo/a</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 text-center">
                        <label for="inputNumeroDocumentoMinG"><strong>Número de Documento:</strong></label>
                        <input type="text" class="form-control" id="inputNumeroDocumentoMinG"
                          (focusout)="guardar_ndoc(ndocG.value);" #ndocG>
                      </div>
                      <div class="col-md-8 text-center">
                        <label for="inputDomicilioMinG"><strong>Domicilio:</strong></label>
                        <input type="text" class="form-control" id="inputDomicilioMinG"
                          (focusout)="guardar_domicilio(domiG.value);" #domiG>
                      </div>
                    </div>

                    <hr>

                    <div class="col-xs-12 text-center">
                      <h5>
                        <i class="fa fa-map-pin" aria-hidden="true"></i> Objetivo del pedido y datos del Inmueble:
                      </h5>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <label for="inputObjetoPedidoMinG"><strong>Objeto del Pedido:</strong></label>
                        <select id="inputObjetoPedidoMinG" class="form-control"
                          (focusout)="guardar_objetoPedido(objPedido.value);" #objPedido>
                          <option selected value="">Seleccione..</option>
                          <option value="Dominio">Dominio</option>
                          <option value="Hipoteca">Hipoteca</option>
                          <option value="Promesa de Venta">Promesa de Venta</option>
                          <option value="Bien de Familia">Bien de Familia</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label for="inputUbicacionMinG"><strong>Ubicación del inmueble:</strong></label>
                        <textarea name="UbicacionInmueble" id="inputUbicacionMinG" class="form-control"
                          style="width: 100%" (focusout)="guardar_ubicacionInmueble(ubiInm.value);" #ubiInm>

                    </textarea>
                      </div>
                    </div>
                  </form>
                  <hr>

                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(1);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button class="btn btn-primary"
                        (click)="irPaso(3); validateFormMinG(apelG.value, nombG.value, eciviG.value, ndocG.value, domiG.value, objPedido.value, domiG.value);">Siguiente</button>
                    </div>
                  </div>
                </section>

              </div>
              <!-- DIV Confirma los datos -->
              <div id="step3">

                <!-- Confirma Formulario H -->
                <section id="confirmH" data-aos="flip-up">
                  <!-- titulo row -->
                  <div class="col-xs-12 text-center">
                    <h2>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmá los datos
                      ingresados
                    </h2>
                  </div>
                  <form>
                    <fieldset disabled>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Tipo de trámite</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <input type="text" id="disabledInputTramite" name="tipoTramite" class="form-control"
                            value="{{this.tipoTramite}}">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Datos de identidad de la persona</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="disabledInputApellido"><strong>Apellido/s:</strong></label>
                          <input type="text" id="disabledInputApellido" name="apellido" class="form-control"
                            value="{{this.apellido}}">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="disabledInputNombre"><strong>Nombre completo:</strong></label>
                          <input type="text" id="disabledInputNombre" name="nombre" class="form-control"
                            value="{{this.nombre}}">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="disabledInputEstado"><strong>Estado Civil:</strong></label>
                          <input type="text" id="disabledInputEstado" name="estCivil" class="form-control"
                            value="{{this.estCivil}}">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="disabledInputTipoDoc"><strong>Tipo de documento:</strong></label>
                          <input type="text" id="disabledInputTipoDoc" name="tdocumento" class="form-control"
                            value="{{this.tdocumento}}">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="disabledInputNumero"><strong>N° de documento:</strong></label>
                          <input type="text" id="disabledInputNumero" name="ndocumento" class="form-control"
                            value="{{this.numDocu}}">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="disabledInputNacionalidad"><strong>Nacionalidad:</strong></label>
                          <input type="text" id="disabledInputNacionalidad" name="nacionalidad" class="form-control"
                            value="{{this.nacionalidad}}">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="disabledInputFecha"><strong>Fecha de nacimiento:</strong></label>
                          <input type="date" id="disabledInputFecha" name="fechanac" class="form-control"
                            value="{{this.fechanac}}">
                        </div>
                      </div>
                      <br>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Datos del cónyugue</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="disabledInputApellidoConyugue"><strong>Apellido/s</strong></label>
                          <input type="text" name="ConyuApellido" class="form-control"
                            id="disabledInputApellidoConyugue" value="{{this.ConyuApellido}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="disabledInputNombresConyugue"><strong>Nombre completo:</strong></label>
                          <input type="text" name="ConyuNombre" class="form-control" id="disabledInputNombresConyugue"
                            value="{{this.ConyuNombre}}">
                        </div>
                      </div>

                    </fieldset>
                  </form>
                  <hr>
                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(2);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button id="btn-siguiente-3" class="btn btn-primary" (click)="irPaso(4);">Siguiente</button>
                    </div>
                  </div>

                </section>

                <!-- Confirma Formulario G -->
                <section id="confirmG">
                  <!-- titulo row -->
                  <div class="col-xs-12 text-center">
                    <h3>
                      <i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmá los datos
                      ingresados
                    </h3>
                  </div>
                  <form>
                    <fieldset disabled>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Tipo de trámite</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <input type="text" id="disabledInputTramiteG" name="tipoTramite" class="form-control"
                            value="{{this.tipoTramite}}">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Datos de identidad de la persona</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="disabledInputApellidoG"><strong>Apellido/s:</strong></label>
                          <input type="text" id="disabledInputApellidoG" name="apellido" class="form-control"
                            value="{{this.apellido}}">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="disabledInputNombreG"><strong>Nombre completo:</strong></label>
                          <input type="text" id="disabledInputNombreG" name="nombre" class="form-control"
                            value="{{this.nombre}}">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="disabledInputEstadoG"><strong>Estado Civil:</strong></label>
                          <input type="text" id="disabledInputEstadoG" name="estCivil" class="form-control"
                            value="{{this.estCivil}}">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="disabledInputNumero"><strong>N° de documento:</strong></label>
                          <input type="text" id="disabledInputNumeroG" name="ndocumento" class="form-control"
                            value="{{this.numDocu}}">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="disabledInputNumero"><strong>Domicilio:</strong></label>
                          <input type="text" id="disabledInputDomG" name="domicilio" class="form-control"
                            value="{{this.domicilio}}">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                          <label class="lead"><strong>Datos del Inmueble</strong></label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="disabledInputObjetoPedido"><strong>Objeto del Pedido:</strong></label>
                          <input type="text" name="objetoPedido" class="form-control" id="disabledInputObjetoPedido"
                            value="{{this.objetoPedido}}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="disabledInputUbicacionInmueble"><strong>Ubicacion del Inmueble:</strong></label>
                          <input type="text" name="ubicacionInmueble" class="form-control"
                            id="disabledInputUbicacionInmueble" value="{{this.ubicacionInmueble}}">
                        </div>
                      </div>

                    </fieldset>
                  </form>
                  <hr>
                  <div class="row">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(2);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button class="btn btn-primary" (click)="irPaso(4);">Siguiente</button>
                    </div>
                  </div>

                </section>
              </div>
              <!-- DIV Realiza el Pago -->
              <div id="step4" data-aos="flip-up">
                <section>
                  <!-- titulo row -->
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <h5><strong>Método de pago</strong></h5>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- info row -->
                  <div class="row invoice-info">
                    <div class="col-sm-5 invoice-col">
                      <h5>De</h5>
                      <address>
                        <strong>Secretaría de Tierras y Hábitat Social.</strong><br>
                        <h5 class="text-muted">Teléfono: <span style="color: black;">(3804) 426-352</span></h5>
                        <h5 class="text-muted">Email: <span style="color: black;">info@secretariadetierras.com.ar</span>
                        </h5>
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                      <h5>Para</h5>
                      <address>
                        <strong>{{usuario.apellido}} {{usuario.nombre}}</strong><br>
                        <h5 class="text-muted">Teléfono: <span style="color: black;">{{usuario.telefono}}</span></h5>
                        <h5 class="text-muted">Email: <span style="color: black;">{{usuario.email}}</span></h5>
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                      <h5 class="text-muted">Fecha: <span
                          style="color: black;">{{currenDate | date:'dd/MM/yyyy'}}</span></h5>
                      <h5 class="text-muted">Numero de orden: <span style="color: black;">{{maxcodigo}}</span></h5>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <!-- Table row -->
                  <div class="row">
                    <div class="col-xs-12 table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Tipo de tramite</th>
                            <th>Descripción</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                            <td><i class="fa fa-file-o" aria-hidden="true"></i> {{formTipoTram}}</td>
                            <td><i class="fa fa-info-circle" aria-hidden="true"></i> {{tipoTramite}}</td>
                            <td>{{importe}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <div class="row">
                    <div class="col-md-8"></div>
                    <!-- /.col -->
                    <div class="col-md-4">
                      <p class="lead">Monto adeudado:</p>

                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th>Total:</th>
                              <td>$ {{importe}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <!--Pago minuta H-->
                  <div class="row no-print pull-right" id="PagarMinH">
                    <div class="col-6">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(3);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-success btn-block"
                              (click)="apiMercadoPago(); createFormH(this.apellido, this.nombre, this.estCivil, this.tdocumento, this.numDocu, this.nacionalidad, this.fechanac, this.ConyuApellido, this.ConyuNombre, this.tipoTramite, this.tipoFormulario)"><i
                        class="fa fa-credit-card"></i> Pagar
                      </button>
                    </div>
                  </div>
                  <!--Pago minuta G-->
                  <div class="row no-print pull-right" id="PagarMinG">
                    <div class="col-6">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(3);"><i
                          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-success btn-block"
                              (click)="apiMercadoPago(); createFormG(this.apellido, this.nombre, this.estCivil, this.numDocu, this.domicilio, this.objetoPedido, this.ubicacionInmueble, this.tipoTramite, this.tipoFormulario)"><i
                        class="fa fa-credit-card"></i> Pagar
                      </button>
                    </div>
                  </div>
                  <br>
                  <hr>
                  <!-- Finalizar Minuta H
                  <div class="row" id="finalizarH">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(3);"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button id="btn-siguiente-4" (click)="createFormH(this.apellido, this.nombre, this.estCivil, this.tdocumento, this.numDocu, this.nacionalidad, this.fechanac, this.ConyuApellido, this.ConyuNombre, this.tipoTramite, this.tipoFormulario)" class="btn btn-primary">Finalizar <i class="fa fa-check-circle" aria-hidden="true"></i></button>
                    </div>
                  </div>-->
                  <!-- Finalizar Minuta G
                  <div class="row" id="finalizarG">
                    <div class="col-12" style="text-align: right;">
                      <button class="btn btn-default" style="margin-right: 10px;" (click)="irPaso(3);"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver</button>
                      <button (click)="createFormG(this.apellido, this.nombre, this.estCivil, this.numDocu, this.domicilio, this.objetoPedido, this.ubicacionInmueble, this.tipoTramite, this.tipoFormulario)" class="btn btn-primary">Finalizar <i class="fa fa-check-circle" aria-hidden="true"></i></button>
                    </div>
                  </div>-->
                  <form method="POST">
                    <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                      data-preference-id='<%= global %>'>
                      </script>
                  </form>
                </section>
              </div>
              <!--/ Fin Div -->
            </div>

            <!--/ FIN StepWizard  -->
          </div>

        </div>
      </div>
    </section>
    <!--Redireccion pago-->
      <section class="content">
        <div *ngIf="this.redireccion" class="row">
          <div class="col-md-12 text-center">
            <div class="card" id="card-pago">
              <div class="card-body">
                <img src="./assets/dist/img/pagosOnline.png" alt="img-pago">
                <div class="text-center caja-spinner">
                  <div class="spinner-border text-primary" role="status"></div>
                  <h5 class="text-muted text-center">Redireccionando...</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
