.content-wrapper {
  font-family: "Roboto", sans-serif !important;
  margin-top: 55px;
  min-height: 800px !important;
}

.sw-theme-dots .sw-container {
  min-height: 300px !important;
  }

.thumbnail {
  margin: 0 0 0px;
  font-size: 150px;
}

.sw-theme-dots>ul.step-anchor>li.active>a {
  color: black;
}

a .nav-link:after {
  background-color: #0b58a2;
}


.small-box .bg-info-gradient{

}

  /*Selecionar trámite*/


label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 100;
}

.card {
  border-radius: 25px;
}

.card-input-element {
  display: none;
}

.col-md-6 {
  width: 100%;
  height: 100%;
}

.card-input {
  color: #ffffff;
  max-width: 600px;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

.card-input:hover {
  cursor: pointer;
}


.caja {
  display: inline-block;
  background-color: rgb(45, 140, 255) !important;
  height: 230px;
  border-radius: 25px;
  padding: 0px;
}


.card-input-element + .card-input {
  background-color: #0b58a2 !important;
  height: 250px;
  border-radius: 25px;
  padding: 0px;
}

.card-input-element:checked + .card-input {
  display: inline-block;
  border: 5px solid #0c0c0c;
  height: 250px;
  border-radius: 25px;
}


.small-box .bg-info-gradient {
  background-color: #0b58a2 !important;
  padding: 40px;
  margin: 20px;
}

.lead {
  margin: 20px;
}

#card-pago img{
  max-width: 800px;
  margin-bottom: 30px;
  width: 100%;
}


.h3 {
  padding-bottom: 20px;
}


#step2 {
  padding: 15px;
  border-radius: 10px;
  border: 5px solid rgb(45, 140, 255);
  background-color: #F4F4F4;
}

#step3 {
  padding: 15px;
  border-radius: 10px;
  border: 5px solid rgb(45, 140, 255);
  background-color: #F4F4F4;
}

.col-md-4, .col-md-8 , .col-md-6{
  padding-bottom: 20px;
}


#step4 {
  padding: 15px;
  border-radius: 10px;
  border: 5px solid rgb(45, 140, 255);
  background-color: #F4F4F4;
}

#step4 span {
  font-size: large;
}

#step4 strong {
  color: #0c0c0c;
}

.btn-success .btn-block {
  padding: 20px;
}
