.invoice {
  position: relative;

  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}

.sw-theme-dots .sw-container {
  min-height: 300px !important;
  background: #ffffff !important;
}

.thumbnail {
  margin: 0 0 0px;
  font-size: 150px;
}


/*Selecionar trámite*/


label {
  width: 100%;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 100;
}


.card-input-element {
  display: none;
}

.card-input {
  margin: 50px 50px 50px 50px;
  padding: 5px;
  max-width: 500px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 5px 5px #17a2b8;
}


