<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <div class="row" data-aos="zoom-in" id="region-graficos">
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12 pl-3" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="info-box animate__animated animate__fadeIn">
        <span class="info-box-icon bg-danger"><i class="fa fa-list-ul"></i></span>

        <div class="info-box-content">
          <span class="info-box-text text-muted">Total tramites</span>
          <span class="info-box-number">Cant: {{tramites.length}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-12 pl-3" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="info-box animate__animated animate__fadeIn">
        <span class="info-box-icon bg-info"><i class="fa fa-check"></i></span>

        <div class="info-box-content">
          <span class="info-box-text text-muted">Tramites iniciados</span>
          <span class="info-box-number">Cant: {{cInic}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12 pl-3" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="info-box animate__animated animate__fadeIn">
        <span class="info-box-icon bg-warning"><i class="fa fa-copy"></i></span>

        <div class="info-box-content">
          <span class="info-box-text text-muted">Tramites en proceso</span>
          <span class="info-box-number">Cant: {{cProc}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12 pl-3" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="info-box animate__animated animate__fadeIn">
        <span class="info-box-icon bg-success"><i class="fa fa-flag"></i></span>

        <div class="info-box-content">
          <span class="info-box-text text-muted">Tramites finalizados</span>
          <span class="info-box-number">Cant: {{cFina}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!--Donu chart-->
    <div class="col-md-12 pl-3 pr-3">
      <div class="card card-outline card-warning animate__animated animate__fadeIn">
        <div class="card-body">
          <canvas id="myChart" width="594" height="297" style="display: block; width: 594px; height: 297px; max-width: 594px; margin:0 auto"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
