.wrapper {
  margin-left: 0 !important;

  background-color: rgb(45, 140, 255);
}

.navbar-static-top{
  margin-left: 0 !important;
}

.main-header {
  background-color: whitesmoke;
  margin-left: 0;
  padding: 0;
}

.nav-item {
  text-align: center;
}

.title-sgti  {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 3em;
  font-weight: 400;
}

.title-sgti:hover {
  cursor: pointer;
  color: #0c0c0c;
}

.btn-lg {
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}
.inicio-sesion-btn {
  color: #fff0ff;
  background-color: #0b58a2;
  border: 2px solid #0b58a2;
}

.inicio-sesion-btn:hover {
  background: #ffffff;
  color: #0b58a2;
}

#btnGoogle {
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}

#box-signup{
  border: 0 solid #00c0ef;
  border-radius: 15px;
}

#img-logo {
  height: 85px
}


.login-box-body{
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
}

#box-shadow{
    -webkit-box-shadow: 0 4px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 0 4px 19px -5px rgba(0,0,0,0.5);
}

#box-signin{
    border-radius: 15px;
    margin: auto;
}

#img-logo {
    height: 85px
}

.btn-google {
	color: white;
	background-color: #DD4B39;
  padding: 8px 16px;
}

.login-box{
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    min-height: 760px;
  }
}

/* Diseño responsive para tabletas */
@media screen and (min-width: 800px) {
  .wrapper {
    min-height: 787px;
  }

}


.container-error-message {
  font-size: small;
  margin: 5px 5px;
}
