.wrapper {
  margin-left: 0px !important;
  padding-bottom: 125px !important;
  background-color: rgb(45, 140, 255);
}

.navbar-static-top{
  margin-left: 0px !important;
}

.main-header {
  background-color: whitesmoke;
  margin-left: 0;
}

.nav-item {
  text-align: center;
}

.title-sgti  {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 3em;
  font-weight: 400;
}

.title-sgti:hover {
  cursor: pointer;
  color: #0c0c0c;
}

.btn-lg {
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}
.inicio-sesion-btn {
  color: #fff0ff;
  background-color: #0b58a2;
  border: 2px solid #0b58a2;
}

.inicio-sesion-btn:hover {
  background: #ffffff;
  color: #0b58a2;
}

#btnGoogle {
  font-size: medium;
  border-radius: 3.0rem !important;
}

#box-signup{
  border: 0px solid #00c0ef;
  border-radius: 15px;
}

#img-logo {
  height: 85px
}


.login-box-body{
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
}

#box-shadow{
    -webkit-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
}

#box-signin{
    border: 0px solid #00c0ef;
    border-radius: 15px;
    margin: auto;
}

#img-logo {
    height: 85px
}

.btn-google {
	color: white;
	background-color: #DD4B39;
}

.login-box{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
