<app-navbar></app-navbar>
<!-- Login -->
<div class="container">
<div class="row text-center">
    <div class="col-md-12">
      <div class="box" id="box-shadow">
        <div class="box-header with-border">
            <h2 class="display-4" >Iniciar Sesión</h2>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="inputEmail3" class="col-md-4 control-label">Correo:</label>
                  <div class="col-md-6">
                <input type="email" class="form-control" id="inputEmail3" placeholder="usuario@mail.com">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-md-4 control-label">Contraseña:</label>
              <div class="col-md-6">
                <input type="password" class="form-control" id="inputPassword3" placeholder="********">
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div class="col-md-12">
              <button class="btn btn-lg btn-primary btn-block" type="submit" >Iniciar Sesión</button>
            </div>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
