<aside class="main-sidebar">
        <!-- Inner sidebar -->
        <section class="sidebar">
          <!-- user panel (Optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="./assets/dist/img/avatar04.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Arroyo Walter</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div><!-- /.user-panel -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">Menú Principal:</li>
            <!-- Optionally, you can add icons to the links 
            <li class="active"><a href="#"><span></span></a></li> -->
            <li><a href="#"><i class="fa fa-edit"></i><span>Mis datos</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-user"></i><span>Mi cuenta</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Estadísticas</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Información</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i><span>Mis trámites</span><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Listado de trámites</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Información</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-sign-out"></i><span>Cerrar sesión</span></a></li>
          </ul><!-- /.sidebar-menu -->

      

      </section>
</aside>