<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light text-light">
  <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars" aria-hidden="true"></i>
          </a>
        </li>
  </ul>
  <!-- Formulario de Busqueda -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Links lado Derecho - Notificaciones -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-bell-o"> </i>
        <span class="badge badge-warning navbar-badge">5</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">5 Notificaciones</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fa fa-file mr-2"></i> 5 nuevos tramites
          <span class="float-right text-muted text-sm">Hace 2 horas</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">Ver todas las Notificaciones</a>
      </div>
    </li>    
    <li class="nav-item">
          <a href="#" (click)="usersService.logout()" routerLinkActive="router-link-active" class="nav-link">
            <i class="fa fa-sign-out"> </i>
          </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
