.navbar {
	background-color: #3282b8 !important;
	-webkit-box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.2);
box-shadow: 0px 9px 19px 0px rgba(0,0,0,0.2);

}

.navbar-static-top{
    margin-left: 0px !important;
}

.fa {
	color: #f8f9fa !important;
}

.widget-user .widget-user-header{
	height: 115px !important;
}