.content{
  font-family: "Roboto", sans-serif !important;
}

#cardsAreas {
  display: none;
}

@media screen and (max-width: 800px) {

  #cardsAreas {
    display: block;
  }

  #tableAreas {
    display: none;
  }
}

#tituloCard {
  padding: 5px;
  text-align: center;
}

#tituloCard h4 {
  padding-bottom: 20px;
}


