<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" routerLink="/dashboard/principal" routerLinkActive="router-link-active" class="brand-link elevation-4" style="background: #3282b8 !important;">
    <img src="assets/AdminLTE-3.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle">
    <span class="brand-text text-white">SGTI</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image widget-user-image text-center">
          <img [src]="usuario.img"class="img-circle elevation-2" alt="User Image">
        </div>
          <div class="info m-auto">
            <h5 class="text-white d-block" style="font-size: 19px !important;">{{usuario.apellido}} {{usuario.nombre}}</h5>
            <span class="text-white d-block" style="font-size: 15px !important;">{{usuario.email}}</span>
          </div>
    </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav flex-column nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">

          <!-- MenuSidebar dinamico -->

          <div *ngIf="roleUsuario=='USER_ROLE'; else MenuAdm">
            <li *ngFor="let menuSidebar of _sidebar.menuUsuario.elementos" class="nav-item has-treeview">
              <a href="" class="nav-link">
                <i [class]="menuSidebar.icono"></i>
                <p>
                  {{menuSidebar.titulo}}
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngFor="let subMenus of menuSidebar.submenu" class="nav-item">
                  <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="[subMenus.url]" routerLinkActive="router-link-active">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>{{subMenus.titulo}}</p>
                  </a>
                </li>
              </ul>
            </li>
          </div>


          <ng-template #MenuAdm>
            <li *ngFor="let menuSidebar of _sidebar.menuAdmin.elementos" class="nav-item has-treeview">
              <a href="" class="nav-link">
                <i [class]="menuSidebar.icono"></i>
                <p>
                  {{menuSidebar.titulo}}
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngFor="let subMenus of menuSidebar.submenu" class="nav-item">
                  <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="[subMenus.url]" routerLinkActive="router-link-active">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>{{subMenus.titulo}}</p>
                  </a>
                </li>
              </ul>
            </li>
          </ng-template>



        <!--Boton cerrar sesión-->
          <li class="nav-item">
            <ul class="nav">
              <a href="javascript:void(0)" (click)="_autenticacion.logout()" routerLinkActive="router-link-active" class="nav-link">
                <i class="fa fa-sign-out"> </i>
                <p>Cerrar sessión</p>
              </a>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
