<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a *ngIf="usuario.roles == 'USER_ROLE'" routerLink="/dashboard/principal" routerLinkActive="router-link-active" class="brand-link elevation-4" style="background: #3282b8 !important;">
    <img src="assets/AdminLTE-3.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle">
    <span class="brand-text text-white">SGTI</span>
  </a>
  <a *ngIf="usuario.roles == 'ADMIN_ROLE'" routerLink="/dashboard/principal-admin" routerLinkActive="router-link-active" class="brand-link elevation-4" style="background: #3282b8 !important;">
    <img src="assets/AdminLTE-3.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle">
    <span class="brand-text text-white">SGTI</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel d-flex">
       <div class="p-4">
         <div class="row">
           <div class="col-md-12 text-center">
            <div class="image widget-user-image">
              <img [src]="usuario.img | imagen" class="img-circle elevation-2" alt="User Image">
            </div>
           </div>
           <div class="col-md-12 text-center">
            <div class="info">
              <h5 class="text-white" style="font-size: 19px !important;">{{usuario.apellido}} {{usuario.nombre}}</h5>
              <span class="text-white" style="font-size: 15px !important;">{{usuario.email}}</span>
            </div>
           </div>
           <div class="col-md-12 text-center">
             <button type="button" class="btn btn-info btn-block btn-sm" routerLink="/dashboard/perfil" routerLinkActive="router-link-active"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mi perfil</button>
           </div>
         </div>
        </div>
    </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav flex-column nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">

          <!-- MenuSidebar dinamico -->

          <div *ngIf="roleUsuario=='USER_ROLE'; else MenuAdm">
            <li class="nav-item home">
              <ul class="nav">
                <a href="javascript=void(0)" routerLink="/dashboard/principal" routerLinkActive="router-link-active" class="nav-link">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <p class="pl-1">&nbsp;Home</p>
                </a>
              </ul>
            </li>
            <li *ngFor="let menuSidebar of _sidebar.menuUsuario.elementos" class="nav-item has-treeview">
              <a href="" class="nav-link">
                <i [class]="menuSidebar.icono"></i>
                <p class="pl-1">
                   {{menuSidebar.titulo}}
                  <i class="right fa fa-angle-left"> </i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngFor="let subMenus of menuSidebar.submenu" class="nav-item">
                  <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="[subMenus.url]" routerLinkActive="router-link-active">
                    <i class="fa fa-circle-o nav-icon"> </i>
                    <p> {{subMenus.titulo}} </p>
                  </a>
                </li>
              </ul>
            </li>
          </div>


          <ng-template #MenuAdm>
            <li class="nav-item home">
              <ul class="nav">
                <a href="javascript=void(0)" routerLink="/dashboard/principal-admin" routerLinkActive="router-link-active" class="nav-link">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <p class="pl-1">&nbsp;Home</p>
                </a>
              </ul>
            </li>
            <li *ngFor="let menuSidebar of _sidebar.menuAdmin.elementos" class="nav-item">
              <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="[menuSidebar.url]" routerLinkActive="router-link-active">
                <i [class]="menuSidebar.icono"> </i>
                <p>&nbsp;	{{menuSidebar.titulo}}</p>
              </a>
            </li>
          </ng-template>



        <!--Boton cerrar sesión-->
          <li class="nav-item">
            <ul class="nav">
              <a href="javascript:void(0)" (click)="_autenticacion.logout()" routerLinkActive="router-link-active" class="nav-link">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                <p class="pl-1">&nbsp;Cerrar sesión</p>
              </a>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
