.sidebar {
    overflow-y: initial !important;
    /*background: #3c3d47;*/
    background: #141E30;
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30); 
    background: linear-gradient(to bottom, #243B55, #141E30); 

}
.main-sidebar:before {
    width: 350px !important;
}

.main-sidebar{
    background: #3c3d47;
}

.main-header:before {
   margin-left: 350px !important;
}

.user-panel img{
    width: 4.1rem !important;
    height: auto;
}

.elevation-4{
    box-shadow: none !important;
}
