.content-wrapper {
  font-family: "Roboto", sans-serif !important;
  min-height: 800px !important;
}
#estado{
    color: green;
    font-size: 18px;
}
.bg-primary {
  background-color: #2d8cff !important;
}

