#navbar{
    margin: auto;
}

#box-shadow{
    -webkit-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 19px -5px rgba(0,0,0,0.5);
}

#box-signin{
    border: 0px solid #00c0ef;
    border-radius: 15px;
    margin: auto;
}

#img-logo {
    height: 85px
}

.btn-google {
	color: white;
	background-color: #DD4B39;
}