<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <section class="content">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title text-center">Guía de uso </h3>
          </div>
          <div class="card-body products text-center">
            <div class="product active text-center" product-id="1">

              <h1 class="title"><span class="number">1</span> Elegí el trámite</h1>
              <div class="thumbnail" data-aos="zoom-in">
                <img src="assets/imgGuia/1-SeleccionTramite.svg" style="width: 80%" alt="">
              </div>
              <p class="description">Podés elegir entre diferentes tipos de trámites que podes realizar en el sistema.</p>
            </div>
            <div class="product" product-id="2">
              <h1 class="title"><span class="number">2</span> Completa el formulario</h1>
              <div class="thumbnail">
                <img src="assets/imgGuia/2-CompletaForm.svg" style="width: 40%" alt="">
              </div>
              <p class="description">Debes rellenar los campos indicados, paracon los datos necesarios para gestionar el trámite elegido.</p>
            </div>
            <div class="product text-center" product-id="3">
              <h1 class="title"><span class="number">3</span> Confirmá los datos</h1>
              <div class="thumbnail">
                <img src="assets/imgGuia/3-ConfirmarDatos.svg" style="width: 40%" alt="">
              </div>
              <p class="description">Revisá los datos ingresados, y el medio de pago.</p>
            </div>
            <div class="product" product-id="4">
              <h1 class="title"><span class="number">4</span> Elegí el medio de pago</h1>
              <div class="thumbnail">
                <img src="assets/imgGuia/4-SeleccionPago.svg" style="width: 40%" alt="">
              </div>
              <p class="description">Podes realizar el pago a través de diferentes opciones.</p>
            </div>
            <div class="product" product-id="5">
              <h1 class="title"><span class="number">5</span> Seguí el estado de tu trámite</h1>
              <div class="thumbnail">
                <img src="assets/imgGuia/5-Seguimiento.svg" style="width: 70%;" alt="">
              </div>
              <p class="description">Una vez confirmado el proceso, podés realizar el seguimiento del mismo a través de la opción
                <a href="dashboard/mis-tramites">Mis trámites</a>.</p>
            </div>
          </div>
          <div class="footer-animacion"><a class="btn" id="prev" href="#" ripple="" ripple-color="#666666">Anterior</a><a class="btn" id="next" href="#" ripple="" ripple-color="#666666">Siguiente</a></div>
        </div>

      </div>

    </div>
  </section>
</div>

