<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!this.tipoTramService.selectedTipoTramite._id" class="modal-title" id="exampleModalLabel">Nueva Tramite</h5>
        <h5 *ngIf="this.tipoTramService.selectedTipoTramite._id" class="modal-title" id="exampleModalLabel">Editar Tramite</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-area" #tipoForm="ngForm" (ngSubmit)="onSaveTipoTramite(tipoForm)">
          <div class="row">
            <input type="text" id="IdTipoTramite" name="IdTipoTramite" class="form-control" [(ngModel)]="this.tipoTramService.selectedTipoTramite._id" name="_id" disabled>
            <div class="col-md-6">
              <div class="form-group">
                <label for="area">Formulario</label>
                <input type="text" name="formulario" id="formulario" class="form-control" placeholder="Ingrese nombre" [(ngModel)]="this.tipoTramService.selectedTipoTramite.formulario">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="encargado">Descripción</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese detalle" [(ngModel)]="this.tipoTramService.selectedTipoTramite.descripcion">
              </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label for="encargado">Costo</label>
                  <input type="number" name="costo" id="costo" class="form-control" [(ngModel)]="this.tipoTramService.selectedTipoTramite.costo">
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button *ngIf="!this.tipoTramService.selectedTipoTramite._id" type="submit" class="btn btn-success" (click)="onSaveTipoTramite(tipoForm)">Cargar</button>
        <button *ngIf="this.tipoTramService.selectedTipoTramite._id" type="submit" class="btn btn-success" (click)="onUpdateTipoTramite(this.tipoTramService.selectedTipoTramite)">Actualizar</button>
      </div>
    </div>
  </div>
</div>
