<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <!-- Breadcrumb -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trámites</a></li>
            <li class="breadcrumb-item active">Mís trámites</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="row">

      <div class="col-12">

        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fa fa-wpforms" aria-hidden="true"></i> Mis trámites
                <small class="float-right">2/10/2020</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Comprobante</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>01/02/2020</td>
                  <td>Búsqueda de titulares dominiales</td>
                  <td><span class="badge bg-warning">Iniciado</span></td>
                  <td>
                    <a href="" target="_blank" class="btn btn-outline-primary"><i class="fa fa-print"></i></a>
                    &nbsp;
                    <a href="" target="_blank" class="btn btn-outline-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>09/03/2020</td>
                  <td>Búsqueda de gravámenes</td>
                  <td><span class="badge bg-primary">En proceso</span></td>
                  <td>
                    <a href="" target="_blank" class="btn btn-outline-primary"><i class="fa fa-print"></i></a>
                    &nbsp;
                    <a href="" target="_blank" class="btn btn-outline-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>15/03/2020</td>
                  <td>Búsqueda de titulares dominiales</td>
                  <td><span class="badge bg-success">Finalizado</span></td>
                  <td>
                    <a href="" target="_blank" class="btn btn-outline-primary"><i class="fa fa-print"></i></a>
                    &nbsp;
                    <a href="" target="_blank" class="btn btn-outline-success"><i class="fa fa-download" aria-hidden="true"></i></a>
                  </td>


                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>

      </div>

    </div>
  </section>
</div>

