<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <section>
    <!--<div class="col-md-12 col-sm-12 col-12 pt-2 pl-3 pr-3">
      <div class="info-box">
        <span class="info-box-icon"><i class="fa fa-check-square-o fa-2x" style="color:green;" aria-hidden="true"></i></span>
        <div class="info-box-content">
          <h4 class="col-md-12 col-sm-12 col-12">Listado de tramites generados</h4>
          <h5 class="info-box-text text-muted">Total: <span style="color: black;">{{tramites.length}}</span></h5>
        </div>
      </div>
    </div>-->
    <div class="row pl-2 pr-2">
      <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
          <div class="card-header p-0">
            <ul class="nav nav-pills row p-2">
              <li class="nav-item col-4"><a class="nav-link active text-center" href="#tab_1" data-toggle="tab">Todos</a></li>
              <li class="nav-item col-4"><a class="nav-link text-center" href="#tab_2" data-toggle="tab">En proceso</a></li>
              <li class="nav-item col-4"><a class="nav-link text-center" href="#tab_3" data-toggle="tab">Finalizado</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div *ngFor="let data of tramites; index as i">
                  <div *ngIf="data.estadoTram == 'Iniciado'" class="row callout callout-info animate__animated animate__flipInX" style="border-left-color: #007bff !important;">
                    <div class="col-md-3">
                      <p class="text-muted">Generado: <span style="color: black;">{{data.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                      <p class="text-muted">Solicitante: <span style="color: black;">{{data.apellido}} {{data.nombre}}</span></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted">Tipo tramite: <span style="color: black;">{{data.producto}}</span></p>
                      <p class="text-muted">Descripción: <span style="color: black;">{{data.tipoTram}}</span></p>
                    </div>
                    <div class="col-md-3">
                      <p class="text-muted" *ngIf="data.estadoTram == 'Iniciado'">Estado tramite: <span class="badge bg-primary ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'En proceso'">Estado tramite: <span class="badge bg-warning ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'Finalizado'">Estado tramite: <span class="badge bg-success ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <div>
                        <p class="text-muted">Area: <span style="color: black;">{{data.area}}</span></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <p class="text-center" style="color: black">Nro. {{data.codigo}}<br>
              <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                 (click)="imprimirComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-primary ml-2"><i class="fa fa-print"></i></a>
                        &nbsp;
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                           (click)="descargarComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-success"><i class="fa fa-download"
                  aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
        <div *ngIf="data.estadoTram == 'En proceso'" class="row callout callout-warning animate__animated animate__flipInX">
                    <div class="col-md-3">
                      <p class="text-muted">Generado: <span style="color: black;">{{data.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                      <p class="text-muted">Solicitante: <span style="color: black;">{{data.apellido}} {{data.nombre}}</span></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted">Tipo tramite: <span style="color: black;">{{data.producto}}</span></p>
                      <p class="text-muted">Descripción: <span style="color: black;">{{data.tipoTram}}</span></p>
                    </div>
                    <div class="col-md-3">
                      <p class="text-muted" *ngIf="data.estadoTram == 'Iniciado'">Estado tramite: <span class="badge bg-primary ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'En proceso'">Estado tramite: <span class="badge bg-warning ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'Finalizado'">Estado tramite: <span class="badge bg-success ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <div>
                        <p class="text-muted">Area: <span style="color: black;">{{data.area}}</span></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <p class="text-center" style="color: black">Nro. {{data.codigo}}<br>
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                         (click)="imprimirComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-primary ml-2"><i class="fa fa-print"></i></a>            &nbsp;
            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
               (click)="descargarComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-success"><i class="fa fa-download"
                          aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                  <div *ngIf="data.estadoTram == 'Finalizado'" class="row callout callout-success animate__animated animate__flipInX" style="border-left-color: #28a745 !important;">
                    <div class="col-md-3">
                      <p class="text-muted">Generado: <span style="color: black;">{{data.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                      <p class="text-muted">Solicitante: <span style="color: black;">{{data.apellido}} {{data.nombre}}</span></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted">Tipo tramite: <span style="color: black;">{{data.producto}}</span></p>
                      <p class="text-muted">Descripción: <span style="color: black;">{{data.tipoTram}}</span></p>
                    </div>
                    <div class="col-md-3">
                      <p class="text-muted" *ngIf="data.estadoTram == 'Iniciado'">Estado tramite: <span class="badge bg-primary ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'En proceso'">Estado tramite: <span class="badge bg-warning ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'Finalizado'">Estado tramite: <span class="badge bg-success ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <div>
                        <p class="text-muted">Area: <span style="color: black;">{{data.area}}</span></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <p class="text-center" style="color: black">Nro. {{data.codigo}}<br>
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                           (click)="imprimirComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-primary ml-2"><i class="fa fa-print"></i></a>
                      &nbsp;
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                         (click)="descargarComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-success"><i class="fa fa-download"
                          aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <div *ngFor="let data of tramites; index as i">
                  <div *ngIf="data.estadoTram == 'En proceso'" class="row callout callout-warning animate__animated animate__flipInX">
                    <div class="col-md-3">
                      <p class="text-muted">Generado: <span style="color: black;">{{data.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                      <p class="text-muted">Solicitante: <span style="color: black;">{{data.apellido}} {{data.nombre}}</span></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted">Tipo tramite: <span style="color: black;">{{data.producto}}</span></p>
                      <p class="text-muted">Descripción: <span style="color: black;">{{data.tipoTram}}</span></p>
                    </div>
                    <div class="col-md-3">
                      <p class="text-muted" *ngIf="data.estadoTram == 'Iniciado'">Estado tramite: <span class="badge bg-primary ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'En proceso'">Estado tramite: <span class="badge bg-warning ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'Finalizado'">Estado tramite: <span class="badge bg-success ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <div>
                        <p class="text-muted">Area: <span style="color: black;">{{data.area}}</span></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <p class="text-center" style="color: black">Nro. {{data.codigo}}<br>
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                        target="_blank" (click)="imprimirPdf()" class="btn btn-primary ml-2"><i class="fa fa-print"></i></a>
                      &nbsp;
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                        target="_blank" (click)="descargarPdf()" class="btn btn-success"><i class="fa fa-download"
                          aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                <div *ngFor="let data of tramites; index as i">
                  <div *ngIf="data.estadoTram == 'Finalizado'" class="row callout callout-success animate__animated animate__flipInX" style="border-left-color: #28a745 !important;">
                    <div class="col-md-3">
                      <p class="text-muted">Generado: <span style="color: black;">{{data.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                      <p class="text-muted">Solicitante: <span style="color: black;">{{data.apellido}} {{data.nombre}}</span></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted">Tipo tramite: <span style="color: black;">{{data.producto}}</span></p>
                      <p class="text-muted">Descripción: <span style="color: black;">{{data.tipoTram}}</span></p>
                    </div>
                    <div class="col-md-3">
                      <p class="text-muted" *ngIf="data.estadoTram == 'Iniciado'">Estado tramite: <span class="badge bg-primary ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'En proceso'">Estado tramite: <span class="badge bg-warning ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <p class="text-muted" *ngIf="data.estadoTram == 'Finalizado'">Estado tramite: <span class="badge bg-success ml-1" id="estado">{{data.estadoTram}}</span></p>
                      <div>
                        <p class="text-muted">Area: <span style="color: black;">{{data.area}}</span></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <p class="text-center" style="color: black">Nro. {{data.codigo}}<br>
              <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Imprimir"
                 (click)="imprimirComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-primary ml-2"><i class="fa fa-print"></i></a>
                      &nbsp;
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Descargar"
                         (click)="descargarComprobante(data.apellido, data.nombre, data.producto, data.tipoTram, data.createdAt, data.estadoTram, data.area)" class="btn btn-success"><i class="fa fa-download"
                          aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- ./card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END CUSTOM TABS -->
  </section>
</div>
