.content-wrapper{
  font-family: "Roboto", sans-serif !important;
}


.card-body hr  {
  border-top: 3px solid rgb(45, 140, 255);
}

.cardUsuarios {
  margin-left: 2rem;
  margin-right: 2rem;
}

#cardsUsuarios {
  display: none;
}

#tituloCard {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul li {
  font-size: small;
}

.email-user {
  font-size: x-small;
}

.labelActivar {
  font-size: x-small;
}

.btn {
  font-size: 0.8rem;
}

.img-circle {
  width: 60%;
}

.fa-phone-square {
  color: #0c0c0c;
  margin-right: 10px;
}
@media screen and (max-width: 825px) {

  #cardsUsuarios {
    display: block;
  }

  .info-box-text {
    font-size: x-small;
  }

  #tableUsuarios {
    display: none;
  }
}
