<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>

  <div class="row" data-aos="zoom-in">
   <!-- /.info-box -->
      <!-- Info Boxes Style 2 -->
      <div class="col-lg-3 col-6 pl-4 pr-4" data-aos="flip-up" data-aos-duration="900">
        <div class="info-box mb-3 bg-warning" style="background-color: #343a40!important;">
          <span class="info-box-icon" style="color: #fff"><i class="fa fa-users" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text" style="color: #fff">Total Usuarios</span>
            <span class="info-box-number" style="color: #fff">{{total}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
       <!-- /.info-box -->
       <div class="col-lg-3 col-6 pl-4 pr-4" data-aos="flip-up" data-aos-duration="900">
        <div class="info-box mb-3 bg-info">
          <span class="info-box-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites Iniciados</span>
            <span class="info-box-number">{{cIniciados}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->
      <div class="col-lg-3 col-6 pl-4 pr-4" data-aos="flip-up" data-aos-duration="900">
        <div class="info-box mb-3 bg-warning">
          <span class="info-box-icon"><i class="fa fa-refresh" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites en Proceso</span>
            <span class="info-box-number">{{cProceso}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->
      <div class="col-lg-3 col-6 pl-4 pr-4" data-aos="flip-up" data-aos-duration="900">
        <div class="info-box mb-3 bg-success">
          <span class="info-box-icon"><i class="fa fa-flag-o" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites Finalizados</span>
            <span class="info-box-number">{{cFinalizados}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->

  </div>

  <div class="row" data-aos="zoom-in">

    <!--DataTable USUARIOS -->
    <div class="text-center col-12 pl-4 pr-4" id="tableUsuarios">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Listado de usuarios registrados</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>N°</th>
                  <th>Imagen</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Roles</th>
                  <th>Activo</th>
                  <th>Accion</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usuarios; index as i">
              <td scope="row">{{i+1}}</td>
                  <td class="text-center">
                    <img class="img-circle" [src]="user.img | imagen" style="width: 30px;">
                  </td>
                  <td class="text-center">{{user.apellido}}</td>
                  <td class="text-center">{{user.nombre}}</td>
                  <td class="text-center">{{user.email}}</td>
                  <td class="text-center">{{user.telefono}}</td>
                  <td *ngIf="user.roles == ROL_ADM" class="text-center">
                    Administrador
                  </td>
                  <td *ngIf="user.roles == ROL_USR" class="text-center">
                    Usuario registrado
                  </td>

                  <td class="text-center">
                    <div *ngIf="user.roles === 'USER_ROLE'" class="custom-control custom-switch" style="margin: auto;">
                      <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" (click)="changeEstado(user)" [(ngModel)]="user.estado">
                      <label class="custom-control-label" for="customSwitch{{i}}"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <button *ngIf="user.roles === 'USER_ROLE'" class="btn btn-outline-danger" (click)="deleteUser(user)"><i class="fa fa-times"></i></button>
                  </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
     </div>

  </div>

  <div class="row" data-aos="zoom-in">
    <!-- Cards USUARIOS -->
    <div id="cardsUsuarios">
      <div class="col-12 pl-3 pr-3">
        <div class="card card-primary card-outline col-12" id="tituloCard">
          <h4 class="card-title text-center">Listado de Usuarios</h4>
        </div>
      </div>
      <!--DataCards -->

        <div class="cardUsuarios">
          <div class="card card-primary card-outline" *ngFor="let user of usuarios; index as i" data-aos="zoom-in">
            <div class="card-body">

              <div class="pull-left col-7 text-center">
                <img class="img-fluid img-circle" [src]="user.img | imagen" alt="User profile picture">

                <h3 class="profile-username ">{{user.apellido}} {{user.nombre}}</h3>

                <p class="text-muted email-user">{{user.email}}</p>

                <p class="text-muted "><i class="fa fa-phone-square pull-left" aria-hidden="true"></i> {{user.telefono}}</p>


              </div>

              <div class="pull-right col-5">
                <ul class="list-group list-group-unbordered mb-3 ">
                  <li *ngIf="user.roles == ROL_ADM"  class="list-group-item text-center">
                    <strong>Rol:</strong> <br> Administrador
                  </li>
                  <li *ngIf="user.roles == ROL_USR" class="list-group-item text-center">
                    <strong>Rol:</strong> <br> Usuario Registrado
                  </li>
                  <li class="list-group-item text-center">
                    <b class="text-center labelActivar">Activar/Desactivar</b> <br>
                    <a class="text-center">
                      <div *ngIf="user.roles === 'USER_ROLE'" class="custom-control custom-switch" style="margin: auto;">
                        <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" (click)="changeEstado(user)" [(ngModel)]="user.estado">
                        <label class="custom-control-label" for="customSwitch{{i}}"></label>
                      </div>
                    </a>
                  </li>
                  <li class="list-group-item text-center">
                    <button *ngIf="user.roles === 'USER_ROLE'" class="btn btn-outline-danger text-center" (click)="deleteUser(user)"><i class="fa fa-times"></i> Eliminar</button>
                  </li>
                </ul>
              </div>



            </div>
          </div>
        </div>

    </div>


</div>
<script>
  $(function(){ $('#example1').DataTable({
   "paging": true,
   "lengthChange": true [5, 10, 20, 50],
   "searching": true,
   "ordering": true,
   "info": true,
   "autoWidth": false,
   "responsive": true
 })
});
</script>
