.content-wrapper{
  font-family: "Roboto", sans-serif !important;
}


.card-body hr  {
  border-top: 3px solid rgb(45, 140, 255);
}

.cardUsuarios {
  margin-left: 1rem;
  margin-right: 1rem;
}

#cardsUsuarios {
  display: none;
}

#tableUsuarios {
  margin-right: 3em;
}

#tituloCard {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul li {
  font-size: small;
}
#tableUsuarios {
  padding-left: 24px;
  padding-right: 24px;
}

#tableUsuarios {
  padding-left: 24px;
  padding-right: 24px;
}

#tituloCard h4 {
  padding-bottom: 10px;
}

.email-user {
  font-size: small;
}

.labelActivar {
  font-size: small;
}

.btn {
  font-size: 0.8rem;
}

.img-circle {
  width: 60%;
}

.fa-phone-square {
  color: #2d8cff;
  margin-right: 10px;
}
@media screen and (max-width: 985px) {

  #cardsUsuarios {
    display: block;
  }

  .info-box-text {
    font-size: x-small;
  }

  .contenedor-user {
    margin-right: -15px!important;
    margin-left: -15px!important;
  }

  #tableUsuarios {
    display: none;
  }
}
