<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  
  <div class="row" data-aos="zoom-in">
    <!--#small-box
    <div class="col-lg-3 col-6 p-4" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{total}}</h3>
          <p>Usuarios</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6 p-4" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{cIniciados}}</h3>
          <p>Tramites iniciados</p>
        </div>
        <div class="icon">
          <i class="fa fa-bar-chart"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6 p-4" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{cProceso}}</h3>
          <p>Tramites en proceso</p>
        </div>
        <div class="icon">
          <i class="fa fa-pie-chart"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6 p-4" data-aos="fade-up"
         data-aos-duration="1200">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{cFinalizados}}</h3>
          <p>Tramites finalizados</p>
        </div>
        <div class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
      </div>
    </div>-->
   <!-- /.info-box -->
      <!-- Info Boxes Style 2 -->
      <div class="col-md-3 col-sm-6 col-12 pl-4 pr-4" data-aos="fade-up" data-aos-duration="1200">
        <div class="info-box mb-3 bg-warning" style="background-color: #343a40!important;">
          <span class="info-box-icon" style="color: #fff"><i class="fa fa-users" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text" style="color: #fff">Total Usuarios</span>
            <span class="info-box-number" style="color: #fff">{{total}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
       <!-- /.info-box -->
       <div class="col-md-3 col-sm-6 col-12 pl-4 pr-4" data-aos="fade-up" data-aos-duration="1200">
        <div class="info-box mb-3 bg-info">
          <span class="info-box-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites Iniciados</span>
            <span class="info-box-number">{{cIniciados}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->
      <div class="col-md-3 col-sm-6 col-12 col-6 pl-4 pr-4" data-aos="fade-up" data-aos-duration="1200">
        <div class="info-box mb-3 bg-warning">
          <span class="info-box-icon"><i class="fa fa-refresh" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites en Proceso</span>
            <span class="info-box-number">{{cProceso}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->
      <div class="col-md-3 col-sm-6 col-12 pl-4 pr-4" data-aos="fade-up" data-aos-duration="1200">
        <div class="info-box mb-3 bg-success">
          <span class="info-box-icon"><i class="fa fa-flag-o" aria-hidden="true"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Tramites Finalizados</span>
            <span class="info-box-number">{{cFinalizados}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <!-- /.info-box -->

    <!--DataTable USUARIOS -->
    <div class="row p-4 text-center col-12" id="tableUsuarios">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Listado de usuarios registrados</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>N°</th>
                  <th>Imagen</th>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Roles</th>
                  <!--<th>Autenticación</th>-->
                  <th>Activo</th>
                  <th>Accion</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usuarios; index as i">
              <td scope="row">{{i+1}}</td>
                  <td class="text-center">
                    <img [src]="user.img | imagen" style="width: 30px;">
                  </td>
                  <td class="text-center">{{user.apellido}}</td>
                  <td class="text-center">{{user.nombre}}</td>
                  <td class="text-center">{{user.email}}</td>
                  <td class="text-center">{{user.telefono}}</td>
                  <td class="text-center">{{user.roles}}</td>
                  <!--<td class="text-center">{{user.google == true ? 'Google' : 'Normal'}}</td>-->
                  <td class="text-center">
                    <div class="custom-control custom-switch" style="margin: auto;">
                      <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" (click)="changeEstado(user)" [(ngModel)]="user.estado">
                      <label class="custom-control-label" for="customSwitch{{i}}"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-outline-danger" (click)="deleteUser(user)"><i class="fa fa-times"></i></button>
                  </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
     </div>

    <!-- Cards USUARIOS -->
    <div class="row" id="cardsUsuarios">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="card-title">Listado de Usuarios registrados</h3>
        </div>
        <div class="card-body box-profile" *ngFor="let user of usuarios; index as i" data-aos="zoom-in">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" [src]="user.img | imagen" alt="User profile picture">
          </div>

          <h3 class="profile-username text-center">{{user.apellido}} {{user.nombre}}</h3>

          <p class="text-muted text-center">{{user.email}}</p>

          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Teléfono: </b> <a class="float-right"> {{user.telefono}} </a>
            </li>
            <li class="list-group-item">
              <b>Role: </b> <a class="float-right"> {{user.roles}}</a>
            </li>
            <li class="list-group-item">
              <b>Activar/Desactivar</b> <a class="float-right"><div class="custom-control custom-switch" style="margin: auto;">
              <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" (click)="changeEstado(user)" [(ngModel)]="user.estado">
              <label class="custom-control-label" for="customSwitch{{i}}"></label>
            </div></a>
            </li>
          </ul>

          <div class="text-center">
            <button class="btn btn-outline-danger text-center" (click)="deleteUser(user)"><i class="fa fa-times"></i> Eliminar</button>
          </div>

          <hr>

        </div>
      </div>
    </div>


</div>
<script>
  $(function(){ $('#example1').DataTable({
   "paging": true,
   "lengthChange": true [5, 10, 20, 50],
   "searching": true,
   "ordering": true,
   "info": true,
   "autoWidth": false,
   "responsive": true
 })
});
</script>
