.navbar {
	background-color: #0b58a2 !important;
}

.float-rigth {
  font-family: "Roboto", sans-serif;
}

.navbar-static-top{
    margin-left: 0px !important;
}

.fa {
	color: #f8f9fa !important;
}

.widget-user .widget-user-header{
	height: 75px !important;
}

#nBar {

}
