        <!-- Main content -->
        <section class="content container-fluid">
          <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
        
        
        <div class="row text-center">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h1 class="display-4 text-center">Bienvenido </h1>
                  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention to featured content or information.</p>
                    <div class="text-center">
                      <a href="/#about" class="btn btn-primary btn-lg">Gestiona tu tramite</a>
                    </div>      
              
                  <div class="col-md-12">
                    <h3 class="display-4 text-center text-white">Sistema de Gestión de Tramite Inmueble</h3>
                    <h4 class="text-center text-white">Gestiona tus tramites del Registro de la propiedad Inmueble con solo registrarte</h4>
                    <div class="text-center">
                        <a href="/#about" class="btn btn-primary btn-lg">Registrate</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
        
          <!--About-->
                    
          <div class="row text-center">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                      <h2 class="display-4" >¿Cómo funciona?</h2>
                  <p class="lead">Aplicación para la gestión de tramites le brinda al usuario, una interfaz simple y Incluye
                                  interfaz de Web y Mobile (Android e iOS).</p>
                  <hr class="my-4">
                  <p class="lead">Siguiendo estos simples pasos podes tener tu minuta lista:</p>    
        
              <!--- Iconos interfaz -->
              
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-aqua"><i class="fa fa-user-circle"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Registro</span>
                        <span class="info-box-number">Completa el formulario de registro con tu e-mail y contraseña.</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-green"><i class="fa fa-calendar"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">Tramite</span>
                        <span class="info-box-number">Selecciona el trámite que te interesa realizar.</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-yellow"><i class="fa fa-check-square-o"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">Confirmación</span>
                        <span class="info-box-number">Confirma tu operación ingresando los datos necesarios.</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-red"><i class="fa  fa-bell-o"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">Notificación</span>
                        <span class="info-box-number">Recibirás una notificación cuando tu tramite esté listo para retirar.</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
              
              </div>
              </div>
            </div>
          </div>
        
          <div class="row text-center">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                    <h2 class="display-4">Historial</h2>
                  <div class="box-tools">
                    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar...">
        
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Tipo de Trámite</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Comentarios</th>
                      </tr>
                      <tr>
                        <td>183</td>
                        <td>Minuta H - Información Posesoria</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Aprobado</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                      <tr>
                        <td>219</td>
                        <td>Minuta H - Información Posesoria</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-warning">Pendiente</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                      <tr>
                        <td>657</td>
                        <td>Minuta H - Información Posesoria</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Aprobado</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                      <tr>
                        <td>175</td>
                        <td>Minuta H - Información Posesoria</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-danger">Denegado</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
        
          </div>
        
          <div class="row">
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>50</h3>
                    <p>Usuarios registrados</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-user-circle"></i>
                  </div>
                  <a href="#" class="small-box-footer">
                      Más info<i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                  <div class="inner">
                    <h3>150</h3>
                    <p>Solicitudes Aceptadas</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-check-square-o"></i>
                  </div>
                  <a href="#" class="small-box-footer">
                      Más info<i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                  <div class="inner">
                    <h3>44</h3>
                    <p>Solicitudes pendientes</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-edit"></i>
                  </div>
                  <a href="#" class="small-box-footer">
                      Más info<i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                  <div class="inner">
                    <h3>5</h3>
        
                    <p>Solicitudes rechazadas</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-times-circle"></i>
                  </div>
                  <a href="#" class="small-box-footer">
                    Más info<i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
            </div>
          <!-- /.content -->
        
        </section>        