<section class="content-wrapper" style="margin-left: 12%">


        <div class="container-fluid padding">
            <div class= "container-fluid" >
                <div class="jumbotron">
                    <h2 class="text-center">Panel de Control</h2>
                </div>
            </div>		
        <div class="container-fluid	padding">
        
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Mi cuenta</h3>
                                </div>
                                <div class="panel-body">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Mis datos</a>
                                                </h4>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                    Estadísticas</a>
                                                </h4>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                    Información</a>
                                                </h4>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</div>
                                                </div>
                                            </div>
                                            </div>
                                </div>
                            </div>
                        </div>								
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Mis Trámites</h3>
                                        </div>
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-primary btn-md">
                                                Ver Trámites
                                            </button>
                                            <button type="button" class="btn btn-primary btn-md">
                                                Nuevo Trámite
                                            </button>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Mis Notificaciones
                                    </div>
                                <div class="panel panel-body">
                                        <button type="button" class="btn btn-primary btn-md">Ver notificaciones</button>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Historial</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                          <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Tipo tramite</th>
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Estado</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Consulta</td>
                                              <td>14/04/2019</td>
                                              <td>Finalizado</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Verificación</td>
                                              <td>21/04/2019</td>
                                              <td>Finalizado</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Consulta</td>
                                              <td>1/06/2019</td>
                                              <td>En proceso</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>	
        
        </div>
        
        </div>
        
</section>