#info{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#bienvenida{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#about{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#listado-tramites{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#footerPrincipal{
    color: white;
    background: #3c8dbc;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

