<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumbs></app-breadcrumbs>
    <hr>
    <div class="row">
        <div class="col-md-12 pl-4 pr-4">
            <div class="callout callout-warning animate__animated animate__fadeIn">
                <h5 class="text-muted">¿Cómo hago para gestionar un tramite?</h5>
                <p style="color: black;">Desde la opción Nuevo Trámite situada en el menú principal, te permitirá
                    iniciar el trámite
                    que necesites, completando toda la informacion correspondiente.</p>
            </div>
            <div class="callout callout-success animate__animated animate__fadeIn" style="border-left-color: #28a745 !important;">
                <h5 class="text-muted">¿Puedo ver mis trámites generado?</h5>
                <p style="color: black;">En Mis Trámites, encontrarás todos los trámites que iniciaste desde la aplicación. En esta sección vas a poder consultar el estado actualizado de los trámites, como también imprimir y descargar el comprobante de pago.</p>
            </div>
            <div class="callout callout-success animate__animated animate__fadeIn" style="border-left-color: #ff851b !important;">
                <h5 class="text-muted">¿Que diferencia hay entre los estados iniciados, en proceso y finalizados?</h5>
                <p style="color: black;">1) Iniciados: es la primera etapa por la que transcurre el tramite una vez que es generado y es enviado hacia mesa de entrada.</p>
                <p style="color: black;">2) En proceso: son los trámites que se han iniciado y continúan en tramitación. Allí se podrá observar no solo el estado sino en que area se encuentra.</p>
                <p style="color: black;">3) Finalizados: son los trámites cuya tramitación ha concluido.</p>
            </div>
            <div class="callout callout-success animate__animated animate__fadeIn" style="border-left-color: #d81b60 !important;">
                <h5 class="text-muted">¿Puedo comprar el formulario desde la misma página?</h5>
                <p style="color: black;">Al llegar a la ultima opcion de la gestion del tramite, podra comprar el formulario, mediante la tecnologia Mercado Pago.</p>
            </div>

            <div class="callout callout-info animate__animated animate__fadeIn" style="border-left-color: #007bff !important;">
                <h5 class="text-muted">¿Se puede usar desde cualquier navegador?</h5>
                <p style="color: black;">La plataforma fue desarrollada para ser utilizada desde cualquier PC conectada
                    a Internet y es accesible desde cualquier navegador web que utilices. Sin embargo, recomendamos
                    utilizar los navegadores Mozzila Firefox (versión 22 o superior) o Google Chrome (Versión 26 o
                    superior).</p>
            </div>
            <div class="callout callout-danger animate__animated animate__fadeIn" style="border-left-color: #6610f2 !important;">
                <h5 class="text-muted">¿Se puede acceder y descargar la aplicacion al telefono movil?</h5>
                <p style="color: black;">Esta aplicacion fue desarrollada para que cada usuario pueda acceder desde
                    cualquier dispositivo y contar con la posibilida de tener acceso directo instalando la app en su
                    dispositivo movil.</p>
            </div>
        </div>
    </div>
</div>