<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0"  data-aos="zoom-in">
        <div class="container-fluid">
          <div class="row p-2">
            <div class="col-sm-6">
              <h4 class="m-0 text-black-50"><i class="fa fa-file-text-o" aria-hidden="true" style="color: #2d8cff"></i>  Detalle del Tramite</h4>
            </div>
            <!-- Breadcrumb -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/dashboard/mis-tramites']" routerLinkActive="router-link-active">Mis tramites</a></li>
                <li class="breadcrumb-item active"> Detalle del Tramite</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr class="hr-historial">
    <div class="row pl-2 pr-2"  data-aos="zoom-in">
        <div class="col-md-12">
            <div class="card card-outline card-danger" style="margin-bottom: 0px!important;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-muted">Nro. de Orden: <span style="color: black;">{{codigo}}</span></p>
                            <p class="text-muted">Generado: <span
                                style="color: black;">{{create | date: "dd/MM/yyyy | HH:MM:ss"}}</span></p>
                            <p class="text-muted">Solicitante: <span style="color: black;">{{apellido}} {{nombre}}</span></p>
                          </div>
                          <div class="col-md-4">
                            <p class="text-muted">Tipo tramite: <span style="color: black;">{{producto}}</span></p>
                            <p class="text-muted">Descripción: <span style="color: black;">{{descripcion}}</span></p>
                            <p class="text-muted">Area: <span style="color: black;">{{area}}</span></p>
                          </div>
                          <div class="col-md-4">
                              <p class="text-muted">Nro. Pago: <span style="color: black;">{{idOperacion}}</span></p>
                              <p *ngIf="estadoPago == 'Aprobado'" class="text-muted">Estado Pago: <span class="badge bg-success ml-1">{{estadoPago}}</span></p>
                              <p *ngIf="estadoPago == 'Pendiente'" class="text-muted">Estado Pago: <span class="badge bg-warning ml-1">{{estadoPago}}</span></p>
                              <p *ngIf="estadoPago == 'Rechazado'" class="text-muted">Estado Pago: <span class="badge bg-danger ml-1">{{estadoPago}}</span></p>
                              <p *ngIf="estadoPago == 'Cancelado'" class="text-muted">Estado Pago: <span class="badge bg-danger ml-1">{{estadoPago}}</span></p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body m-auto"  data-aos="zoom-in">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1 m-auto">
            <div class="row">
              <div *ngIf="estado != 'Iniciado'" class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Estado 1</span>
                    <span class="info-box-number text-center text-muted mb-0">Iniciado</span>
                  </div>
                </div>
              </div>
              <div *ngIf="estado == 'Iniciado'" class="col-12 col-sm-4">
                <div class="info-box bg-light animate__animated animate__bounceIn" style="background: #007bff!important;">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-white">Estado 1</span>
                    <span class="info-box-number text-center text-white mb-0">Iniciado</span>
                  </div>
                </div>
              </div>
              <div *ngIf="estado != 'En proceso'" class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Estado 2</span>
                    <span class="info-box-number text-center text-muted mb-0">En proceso</span>
                  </div>
                </div>
              </div>
              <div *ngIf="estado == 'En proceso'" class="col-12 col-sm-4">
                <div class="info-box bg-light animate__animated animate__bounceIn" style="background: #ffc108!important;">
                  <div class="info-box-content">
                    <span class="info-box-text text-center" style="color: black;">Estado 2</span>
                    <span class="info-box-number text-center mb-0" style="color: black;">En proceso</span>
                  </div>
                </div>
              </div>
              <div *ngIf="estado != 'Finalizado'" class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Estado 3</span>
                    <span class="info-box-number text-center text-muted mb-0">Finalizado</span>
                  </div>
                </div>
              </div>
              <div *ngIf="estado == 'Finalizado'" class="col-12 col-sm-4">
                <div class="info-box bg-light animate__animated animate__bounceIn" style="background: #29a746!important;">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-white">Estado 3</span>
                    <span class="info-box-number text-center text-white mb-0">Finalizado</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>
    <section class="content"  data-aos="zoom-in">
      <div class="row">
        <div class="col-12">
          <div class="card card-outline card-warning">
            <div class="card-header">
              <h4 class="card-title text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> Seguimiento del tramite</h4>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 200px;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Area</th>
                    <!--<th scope="col" class="text-center">Usuario</th>-->
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let histTram of historial">
                      <td class="text-center" scope="row">{{histTram.createdAt | date: "dd/MM/yyyy | HH:MM:ss"}}</td>
                      <td class="text-center">{{histTram.estTramite}}</td>
                      <td class="text-center">{{histTram.area.nombre}}</td>
                      <!--<td class="text-center">{{histTram.usuario.apellido}} {{histTram.usuario.nombre}}</td>-->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
  </section>
</div>
