.sidebar {
  font-family: 'Roboto', sans-serif;
}

.main-sidebar {
  background-color: #ffffff;
}

.title-sgti {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 1.2em;
  font-weight: 200;
}

.title-sgti:hover {
  cursor: pointer;
  color: #0c0c0c;
}
.name{
  color: #0b58a2;
}

.name:hover {
  color: #0c0c0c;
}


.btn-lg {
  color: #fff0ff;
  background-color: #0b58a2;
  border: 2px solid #0b58a2;
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}

.btn-lg:hover {
  background: #ffffff;
  color: #0b58a2;
}
