aside {
  min-height: 700px !important;
}

.main-sidebar {
  overflow-x:hidden !important;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
}

.main-sidebar {
  background-color: #ffffff;
}

.brand-link {
  background-color: rgb(45, 140, 255);
}

.title-sgti {
  padding: 0 3.1rem;
  font-family: 'Bebas Neue', cursive !important;
  font-size: 1.5em;
  font-weight: 200;
}

.title-sgti:hover {
  cursor: pointer;
  color: #0c0c0c;
}
.logo-sidebar {
  height: 50px;
  padding-right: 0;
  padding-left: 0px;

}

.name{
  color: rgb(45, 140, 255);;
}

.name:hover {
  color: #0c0c0c;
}

.pl-2 {
  margin-left: 1.1rem !important;
}

.btn-lg {
  color: #fff0ff;
  background-color: rgb(45, 140, 255);
  border: 2px solid rgb(45, 140, 255);;
  font-size: medium;
  border-radius: 3.0rem !important;
  margin-right: 1em;
  margin-bottom: 15px;
}

.btn-lg:hover {
  background: #ffffff;
  color: rgb(45, 140, 255);;
}
