<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <section class="content">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title text-center">Guía de uso </h3>
          </div>
          <div class="card-body products text-center">
            <div class="product active" product-id="1">
              <div class="thumbnail"><span><i class="fa fa-list-alt"></i></span></div>
              <h1 class="title">1 - Elegí el tipo de trámite que queres realizar</h1>
              <p class="description">Podés elegir entre diferentes tipos de trámites</p>
            </div>
            <div class="product" product-id="2">
              <div class="thumbnail"><span><i class="fa fa-pencil"></i></span></div>
              <h1 class="title">2 - Completa el formulario</h1>
              <p class="description">Debes rellenar los campos con los datos necesarios para gestionar el trámite elegido.</p>
            </div>
            <div class="product text-center" product-id="3">
              <div class="thumbnail"><span><i class="fa fa-money"></i></span></div>
              <h1 class="title">3 - Confirmá los datos</h1>
              <p class="description">Revisá los datos ingresados, y el medio de pago.</p>
            </div>
            <div class="product" product-id="4">
              <div class="thumbnail"><span><i class="fa fa-calendar-o"></i></span></div>
              <h1 class="title">4 - Elegí el medio de pago</h1>
              <p class="description">Podes realizar el pago a través de diferentes opciones.</p>
            </div>
            <div class="product" product-id="5">
              <div class="thumbnail"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
              <h1 class="title">5 - Seguí el estado de tu trámite</h1>
              <p class="description">Una vez confirmado el proceso, podés realizar el seguimiento del mismo a través de la opción
                <a href="dashboard/mis-tramites">Mis trámites</a>.</p>
            </div>
          </div>
          <div class="footer"><a class="btn" id="prev" href="#" ripple="" ripple-color="#666666">Anterior</a><a class="btn" id="next" href="#" ripple="" ripple-color="#666666">Siguiente</a></div>
        </div>

      </div>

    </div>
  </section>
</div>

