<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <!-- Info -->
  <section>
    <div class="row pl-3 pr-3 pb-0 pt-0">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h1 class="card-header text-uppercase">Sistema de Gestión de Trámite Inmueble</h1>
            <h3 class="card-title p-3">
              Este sistema ha sido diseñado y programado para que constituya un medio virtual para el acceso de los
              usuarios a las prestaciones ofrecidas por la Secretaría de Tierras y Hábitat Social.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Contacto -->
    <h3 class="text-muted pl-3">Contactos</h3>
    <hr>
    <div class="row">
      <div class="col-md-6 pl-4 pr-4 pb-2">
        <div class="callout callout-info p-2">
          <div class="border-bottom-0">
            <h3>Vega Fernando Daniel</h3>
          </div>
          <div class="row">
            <div class="col-7">
              <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small"><span class="fa-li"><i class="fa fa-lg fa-building"></i></span> Address: Demo
                  Street 123, Demo City 04312, NJ</li>&nbsp;
                <li class="small"><span class="fa-li"><i class="fa fa-lg fa-phone"></i></span> Phone #: + 800 - 12
                  12 23 52</li>
              </ul>
            </div>
            <div class="col-5 text-center pt-0">
              <img src="../assets/dist/img/usuario.png" alt="user-avatar" class="img-circle img-fluid w150">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-4 pr-4 pb-2">
        <div class="callout callout-warning p-2">
          <div class="border-bottom-0">
            <h3>Arroyo Walter Daniel</h3>
          </div>
          <div class="row">
            <div class="col-7">
              <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small"><span class="fa-li"><i class="fa fa-lg fa-building"></i></span> Address: Demo
                  Street 123, Demo City 04312, NJ</li>&nbsp;
                <li class="small"><span class="fa-li"><i class="fa fa-lg fa-phone"></i></span> Phone #: + 800 - 12
                  12 23 52</li>
              </ul>
            </div>
            <div class="col-5 text-center pt-0">
              <img src="../assets/dist/img/usuario.png" alt="user-avatar" class="img-circle img-fluid w150">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>