.content-wrapper{
  font-family: "Roboto", sans-serif !important;
}

ul {
  padding-top: 20px;
}

ul > li {
  padding-bottom: 10px;
}

.callout {
  min-height: 350px;
}

.img-div {
  padding-top: 30px;
  padding-bottom: 10px;
}

.fa-ul {
  margin-left: 0px;
}
