<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumbs></app-breadcrumbs>
  <hr>
  <!-- Info -->
  <section class="content">
    <div class="row pl-2 pr-2" data-aos="zoom-in">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h1 class="card-header text-uppercase">Sistema de Gestión de Trámite Inmueble</h1>
            <h3 class="card-title p-3">
              Este sistema ha sido diseñado y programado para que constituya un medio virtual para el acceso de los
              usuarios a las prestaciones ofrecidas por la Secretaría de Tierras y Hábitat Social.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Contacto -->
    <h3 class="text-muted pl-3"><i class="fa fa-id-card-o" aria-hidden="true"></i>
       Contactos del Equipo de Desarrollo</h3>
    <hr>
    <div class="row">
      <div class="col-md-6" data-aos="zoom-in">
        <div class="callout callout-info text-center">
          <div class="col-12 img-div">
            <img src="https://lh3.googleusercontent.com/a-/AOh14GgeorQxe0LQ8qE-4_xPVcqJvDhZgEa-hjMr6sOC=s78-p-k-rw-no" alt="user-avatar" class="img-circle img-fluid w150">
          </div>
          <div class="border-bottom-0">
            <h2>Vega Fernando Daniel</h2>
            <h5 class="text-muted">Analista en Sistemas de Información </h5>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <blockquote>
                <ul class="fa-ul text-muted">
                  <li><span><i class="fa fa-lg fa-building"></i></span> <strong>  Dirección:</strong> Chilecito, La Rioja, Argentina</li>
                  <li><span><i class="fa fa-lg fa-phone"></i></span> <strong>  Teléfono: </strong> +54 3825 - 53 44 51</li>
                  <li><span><i class="fa fa-lg fa-envelope"></i></span> <strong>  E-mail: </strong> ferveg64@gmail.com</li>
                </ul>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" data-aos="zoom-in">
        <div class="callout callout-warning text-center">
          <div class="col-12 img-div">
            <img src="/assets/ImgInformacion/imagenInformacion.png" alt="user-avatar" style="height: 72px; width: 72px" class="img-circle img-fluid">
          </div>
          <div class="border-bottom-0 text-center">
            <h2>Arroyo Walter Daniel</h2>
            <h5 class="text-muted">Analista en Sistemas de Información </h5>
          </div>
          <div class="row">
            <div class="col-12">

                <ul class="fa-ul text-muted">
                  <li><span><i class="fa fa-building"></i></span> <strong>  Dirección:</strong> Ciudad de La Rioja, La Rioja, Argentina.</li>
                  <li><span><i class="fa fa-phone"></i></span> <strong>  Teléfono: </strong> +54 3804 - 44 38 67</li>
                  <li><span><i class="fa fa-envelope"></i></span> <strong>  E-mail: </strong> arroyowalterd@gmail.com</li>
                </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
